.error-page{
    height: 10vh;
}
.homepage-link{
    margin-top: 5vh;
    font-weight: 400;
    font-size: 2vw;
}
.error-link-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.text-gradient{
    background: linear-gradient(to bottom left,  rgb(0, 204, 255), rgb(0, 26, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}