  .timeline{
    display: grid; 
    grid-template-columns: 0.01fr 1.99fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "progress-bar timeline-content"; 
      width: 100vw;
      overflow-x: hidden;
  }
  .progress-bar {
    height: 0%;
    width: 2vw;
    animation: 2s animate infinite;
    grid-area: progress-bar;
    margin-left: 6vw;
    border-radius: 510px;
  }
  
  .timeline-content {
    width: 100%;
    grid-area: timeline-content;
  }
  
  /* Container around content */
  .container {
    margin: 10vw 0 10vw 6vw;
    background-color: inherit;
    width: 82vw;
    color: black;
    opacity: 0;
    transition: all 1.2s ease;
    transform: translateX(10vw);
  }
  #first-container{margin-top: 5vw;}
  .container.appear{
      opacity: 1;
      transform: translateX(0);
  }
  
  /* Add arrows to the right container */
  .container::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    left: -2.8vw;
    z-index: 1;
    border: medium solid rgb(255, 255, 255);
    border-width: 3vw 3vw 3vw 0;
    border-color: transparent rgb(255, 255, 255) transparent transparent;
  }
  
  /* The actual content */
  .content {
    padding: 5vw 3vw 8vw 5vw;
    background-color: #03030300; 
    position: relative;
    border-radius: 25px;
    color: white;
    border: 0.6vw solid rgb(255, 255, 255);
  }

  .timeline-container-header{
      font-size: 4.5vw;
  }
  .timeline-container-date{
    font-size: 3.5vw;
    color: rgba(255, 255, 255, 0.699);
    margin: 1vw 0 3vw 0;
}
  .timeline-container-content{
      font-size: 3.5vw;
      list-style-type: none;
  }
  .timeline-container-caption{
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.699);
}

  @media screen and (min-width: 1200px) {
    .timeline{
        width: 100vw;
    }
    .progress-bar {
      width: 1vw;
      margin-left: 48vw;
    }
    .timeline-graphics{
      width: 20vw;
      transition: all 1.2s ease;
      position: absolute;
      margin-top: 4vw;
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: center;
    }
    .timeline-graphics.left{
      margin-left: -35vw;
    }
    .timeline-graphics.right{
      margin-left: 15vw;
    }
    .timeline-graphics.appear{
      opacity: 1;
      transform: translateX(0);
  }
  .timeline-phase{
    font-size: 3vw;
    width: 100%;
    text-align: center;
  }
  .timeline-img{
    position: relative;
    margin-top: 4vw;
    height: 10vw;
    width: 10vw;
    background-position: center;
    background-size: cover;
  }
    /* Container around content */
    .container {
      margin: 10vw 0 10vw 6vw;
      width: 40vw;
      transform: translateX(0vw);
    }
    #first-container{margin-top: 0vw;}
    .left{
      margin-left: -45vw;
      transform: translateX(-10vw);
    }
    .right{
      transform: translateX(15vw);
      margin-left: 6vw;
    }
    /* Add arrows to the right container */
    .container::before {
      border: none;
    }
    
    /* The actual content */
    .content {
      border: none;
      padding: 0;
    }
  
    .timeline-container-header{
        font-size: 2vw;
    }
    .timeline-container-date{
      font-size: 1.5vw;
      margin: 0.5vw 0 1.8vw 0;
  }
    .timeline-container-content{
        font-size: 1.5vw;
        list-style-type: none;
        color: rgba(255, 255, 255, 0.774);
    }
    .timeline-container-caption{
      font-size: 1vw;
      color: rgba(255, 255, 255, 0.699);
  }
  #foundations-img{
    background-image: url("../images/foundations.png");
  }
  #launch-img{
    background-image: url("../images/launch.png");
  }
  #store-img{
    background-image: url("../images/store.png");
    height: 12vw;
    width: 8vw;
  }
  #gym-img{
    background-image: url("../images/gym.png");
    height: 12vw;
    width: 12vw;
  }
  #expansion-img{
    background-image: url("../images/expansion.png");
    height: 12vw;
    width: 12vw;
  }
  }