.minting-page {  
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "mint-sidebar-container mint-image-container";
  }
  
  .mint-sidebar-container { 
      grid-area: mint-sidebar-container; 
      height: 100vh;
      padding-left: 8.5vw;
      z-index: 1;
    }
    .ga-text{
        background-image: url("../images/ga-text.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 21vw;
        height: 2.5vw;
        margin-top: 14vw;
        background-position: center;
    }
    .bold{font-weight: 900;}
    .mint-about{
        font-size: 1.7vw;
        margin-top: 3.5vw;
    }
    .supply{
        margin-top: 10vw;
        color: rgba(255, 255, 255, 0.749);
    }
    .mint-button{
    border: none !important;
    margin: 1.5vw 0 0 0vw;
    background: linear-gradient(10deg, rgba(0,0,255,1) 35%, rgba(17,245,253,1) 100%);
    width: 20vw;
    height: 5vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  .mint-image-container { 
      grid-area: mint-image-container; 
      height: 100vh;
    }
    .mint-image{
        width: 100%;
        height: 100%;
        background-image: url("../images/BlueCard.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -5vw;
        z-index: 0;
    }
    .loading-spinner::before,
    .loading-spinner::after {
      width: var(--size-dot);
      height: var(--size-dot);
      background-color: var(--color);
      border-radius: 50%;
      animation: loading 1.2s ease-in-out infinite;
    }
    .loading-spinner {
        --color: white;
        --size-dot: 0.7vw;
        
        display: block;
        position: relative;
        width: 50%;
        display: grid;
        place-items: center;
      }
      
      .loading-spinner::before,
      .loading-spinner::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
      }
    .loading-spinner::before {
      left: calc(50% - 0.7vw - var(--size-dot));
    }
    
    .loading-spinner::after {
      left: calc(50% + 0.7vw);
      animation-delay: -0.4s;
    }
    
    @keyframes loading {
      0%, 100% {
        transform: translateY(-1vw);
      }
      
      44% {
        transform: translateY(1vw);
      }
    }
    .mint-error{
        background-color: rgb(36, 36, 36);
        padding: 1.5vw 0vw 1.5vw 2vw;
        border-left: solid 1px rgb(255, 0, 51);
        width: 24vw;
        margin-top: 3vw;
        border-radius: 5px;
    }
    .error-more{
        color: rgba(255, 255, 255, 0.711);
        font-size: 0.7vw;
        margin-top: 0.5vw;
    }
@media screen and (max-width: 1200px) {
    .minting-page {  
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .mint-sidebar-container{width: 100%; padding: 0; display: flex; justify-content: center; flex-wrap: wrap;}
    .ga-text{
        width: 100vw;
        height: 5vw;
        margin-top: 14vw;
    }
    .mint-about{
        font-size: 3vw;
        margin-top: -3vw;
    }
    .mint-image{
        width: 70vw;
        height: 70vw;
        margin: -10vw 10vw 0vw 14vw;
    }
    .supply{
        margin-top: -5vw;
        font-size: 3vw;
        color: rgb(255, 255, 255);
    }
    .mint-button{
    width: 50vw;
    height: 12vw;
    margin: -15vw 25vw 0 25vw;
    }
    .loading-spinner {
        --size-dot: 2vw;
      }
      .mint-error{
        width: 54vw;
        height: 5vw;
        margin-top: -10vw;
        font-size: 3vw;
        text-align: left;
    }
    .error-more{
        display: none;
    }
}
    
  