.benefit-container {
    border-radius: 12px;
    padding: 0;
    margin: 0 auto;
    margin-top: 15vw;
    margin-bottom: 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .benefit-illustration { 
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vw;
    width: 30vw;
    margin: 0 30vw 10vw 30vw;
    border-radius: 20px;
  }
  .benefit-header { font-size: 8vw; text-align: center; margin-top: 3vw;}
  .benefit-text { font-size: 4.5vw; margin-top: 4vw; text-align: center; color: rgba(255, 255, 255, 0.774); width: 80%; padding: 0 10% 0 10%;}

  @media screen and (min-width: 1200px){
    .benefit-container{
      width: 30vw;
      margin: 0;
      padding: 3vw 0 3vw 0;
      margin: 0;
    }
    .benefit-illustration{
      height: 12vw;
    }
    .benefit-header{
      font-size: 2.5vw;
    }
    .benefit-text{
      font-size: 1.2vw;
      margin-top: 2vw;
    }
  }