.card{
    width: 52vw;
    height: 72vw;
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 25px;
    background-color: black;
    margin: 15vw 0 0 0 ;
    opacity: 0;
    transition: all .5s ease;
}
.card::before{
    content: '';
    position: absolute;
    width: 52.5vw;
    height: 72.5vw;
    margin-top: -0.25vw;
    z-index: -1;
    animation: animate 2s infinite;
    border-radius: 25px;
}
.card::after{
    content: '';
    position: absolute;
    width: 52vw;
    height: 72vw;
    z-index: -1;
    background-color: black;
    border-radius: 25px;
}
.card.appear{
    opacity: 1;
}

.profile-picture{
    margin-top: 8vw;
    width: 18vw;
    height: 18vw;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.name{
    width: 100%;
    text-align: center;
    font-size: 3.5vw;
    font-weight:400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -6vw;
}
.position{
    width: 100%;
    text-align: center;
    font-size: 4.5vw;
    margin-top: -12vw;
}
.social-media{
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -11vw;
}
.media-icon{
    width: 7vw;
    height: 7vw;
    background-size: cover;
    background-position: center;
    margin: 0 1.5vw 0 1.5vw;
}
.media-icon:hover{
    opacity: 0.7;
}

.instagram{
    background-image: url("../images/instagram-logo-white.png");
}
.twitter{
    background-image: url("../images/twitter-logo-white.png");
}
.linkedin{
    background-image: url("../images/linkedin-logo-white.png");

}
.facebook{
    background-image: url("../images/facebook-logo-white.png");
}

@media screen and (min-width: 1200px) {
    .card{
        width: 20vw;
        height: 30vw;
        margin: 10vw 5vw 0vw 5vw;
    }
    .card::before{
        content: '';
        position: absolute;
        width: 20.5vw;
        height: 30.5vw;
    }
    .card::after{
        width: 20vw;
        height: 30vw;
    }
    .profile-picture{
        margin-top: 4vw;
        width: 7vw;
        height: 7vw;
    }
    .name{
        font-size: 1.3vw;
        font-weight:400;
        color: rgba(255, 255, 255, 0.5);
        margin-top: -1.5vw;
    }
    .position{
        font-size: 2vw;
        margin-top: -2.5vw;
    }
    .social-media{
        margin-top: -3vw;
    }
    .media-icon{
        width: 3vw;
        height: 3vw;
        margin: 0 0.7vw 0 0.7vw;
    }
}